@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:wght@500&family=Lato:wght@700&family=Merriweather:ital,wght@1,700&family=Prompt:wght@700&family=Raleway:wght@900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}
body{
    background: #f3d39e;
}
header{
    min-height: 20vh;
}
.wrapper{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
.wrapper:nth-child(1){
    color: #fff;
}
.wrapper:nth-child(2){
    color:#1D212B;
}
.wrapper:nth-child(3){
    color:#fff;
}
.wrapper:nth-child(4){
    color: #1D212B;
}
.wrapper .container{
    margin: 100px;
}
.wrapper h1{
    font-size: 60px;
}
.wrapper h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}
.wrapper .cards{
    display: flex;
}
.wrapper .cards .text-card{
    background: #2696E9;
    margin: 20px;
    padding: 20px;
}
.wrapper .cards .text-card h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media (max-width: 900px){
    .wrapper h1{
        font-size: 40px;
    }
    .wrapper .cards{
        flex-direction: column;
    }
}
.reveal{
    position: relative;
    opacity: 0;
    transition: all 1.5s ease;
}
.reveal.active{
    opacity: 1;
}
header img{
    width: 400px;
}
header div{
    display: flex;
}
.header-icons{
    margin-left: auto;
    font-size: 40px;
    margin-top: 80px;
}
.fa-brands{
    margin-right: 100px;
}
.fa-brands:hover{
    color: rgb(7, 219, 190);
}
a{
    text-decoration: none;
    color: #1F60A6;
}
a:visited{
    text-decoration: none;
}
.introduction{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
main img{
    width: 400px;
}
.self-intro{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.self-intro p{
    color: #1F60A6;
    margin-top: 50px;
    animation: moveintro 1s forwards;
}
.myphoto, .self-intro{
    animation: showphoto 2.5s forwards;
}
@keyframes showphoto{
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes moveintro{
    0%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0);
    }
}