@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:wght@500&family=Lato:wght@700&family=Merriweather:ital,wght@1,700&family=Prompt:wght@700&family=Raleway:wght@900&family=Wix+Madefor+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:wght@500&family=Lato:wght@700&family=Merriweather:ital,wght@1,700&family=Prompt:wght@700&family=Raleway:wght@900&family=Wix+Madefor+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:wght@500&family=Lato:wght@700&family=Lora&family=Merriweather:ital,wght@1,700&family=Prompt:wght@700&family=Raleway:wght@900&family=Wix+Madefor+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:wght@500&family=Lato:wght@700&family=Libre+Baskerville:ital@1&family=Lora&family=Merriweather:ital,wght@1,700&family=Prompt:wght@700&family=Raleway:wght@900&family=Wix+Madefor+Display:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    font-weight: bold;
}
body{
    background-color: #eddabb;
}
main{
    overflow-x: hidden;
}
footer{
    background-color: black;
    color: white;
}
ul, li{
    list-style-type: none;
}
header{
    background-color: #eddabb;
    position: relative;
    padding-left: 50px;
    width: 100%;
}
main{
    position: relative;
    z-index:0;
}
.skills-wrapper, .education-wrapper{
    padding-top: 250px;
    padding-bottom: 250px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.employment-wrapper{
    padding-bottom: 125px;
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top: 50px;
    background-color: rgb(224, 204, 204);
}
.skills-wrapper{
    background-color: white;
}
.education-wrapper{
    background-color: rgb(208, 238, 238);
}
.contact-wrapper{
    background-color: rgb(190, 236, 212);
    padding-top: 250px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.wrapper h1{
    font-size: 40px;
    margin-bottom: 50px;
    text-decoration: underline;
    font-family: 'Prompt', sans-serif;
    text-align: center;
}
.wrapper .cards{
    display: flex;
    flex-direction: column;
    font-size: 30px;
}
.wrapper .cards .text-card{
    margin: 20px;
    padding: 20px;
    width: 1000px;
}
.wrapper .cards .text-card h2{
    font-size: 30px;
    margin-bottom: 10px;
}
.myworks{
    transform: translate(40px, -30px);
    background-color: #f4c065;
    width: 990px;
    padding-left: 40px;
    padding-top: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgb(102, 97, 97);           
}
.myworks-topic{
    margin-top: 10px;
    margin-bottom: 20px;
}
.show{
    position: relative;
    opacity: 0;
    transition: all 1.25s ease;
}
.show.active{
    opacity: 1;
}
header img{
    width: 100px;
    height: 100px;
    margin: 10px auto;
}
header div{
    display: flex;
}
.header-icons{
    font-size: 30px;
    margin-top: 20px;
}
.fa-brands{
    margin-right: 30px;
}
.fa-brands:hover{
    color: rgb(7, 219, 190);
}
a{
    text-decoration: none;
    color: rgb(108, 30, 108);
}
a:visited, .slide a:visited{
    text-decoration: none;
}
.introduction{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding-bottom: 200px;
}
.self-intro{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 60px;
    width: 600px;
}
.self-intro p{
    animation: moveintro 1s forwards;
}
.hi{
    font-size: 50px;
    font-family: 'Libre Baskerville', serif;
}
.myintro{
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
}
.self-intro{
    animation: showphoto 2.5s forwards;
}
.myphoto{
    width: 400px;
    height: 400px;
    animation: showphoto 2.5s forwards;
    border-radius: 50%;
}
.hide {
    display: none;
}
.aff{
    color: rgb(50, 50, 179);
    font-size: 25px;
    font-family: 'Prompt', sans-serif;
    text-decoration: underline;
}
.asgh{
    color:rgb(37, 186, 186);
    font-size: 25px;
    font-family: 'Prompt', sans-serif;
    text-decoration: underline;
}
.ep{
    color:rgb(108, 30, 108);
    font-size: 25px;
    font-family: 'Prompt', sans-serif;
    text-decoration: underline;
}
.aff:hover, .asgh:hover, .ep:hover{
    color: rgb(161, 78, 92);
}
/* projects */
.projects-wrapper{
    padding-top: 250px;
    padding-bottom: 250px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.projects-wrapper:nth-child(odd){
    background: linear-gradient(90deg, rgb(252, 225, 208) 50%,rgb(251, 201, 194) 50%);  
}
.projects-wrapper:nth-child(even){
    background: linear-gradient(-90deg, rgb(252, 225, 208) 50%,rgb(251, 201, 194) 50%);
}
.projects-wrapper:nth-child(odd) a{
    transform:translateX(-20%);
}
.projects-wrapper:nth-child(odd) .cards{
    transform: translateX(20%);
}
.projects-wrapper:nth-child(even) a{
    transform:translateX(20%);
}
.projects-wrapper:nth-child(even) .cards{
    transform: translateX(-20%);
}
.project-text{
    font-size: 22px;
}
.project-block{
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.project-block img{
    border: 4px solid rgb(200, 122, 27);
    border-radius: 20px;
    width: 540px;
    height: auto;
}
.project-title{
    font-family: 'Prompt', sans-serif;
    text-align:center;
    margin-bottom: 10px;
    white-space: nowrap;
    font-size: 30px;
    text-decoration: underline;
}
.wrapper .project-block .cards .text-card{
    width: 500px;
}
.project-language{
    font-size: 22px;
    margin-top: 10px;
}
/* end */

.skill-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 50px;
}
.skill-card div{
    margin: 0 auto;
    text-align: center;
}
.html, .css, .jquery, .sql{
    width: 60px;
    height: auto;
}
.javascript, .nodejs{
    width: 43px;
    height: auto;
}
.bootstrap{
    margin-top: 8px;
    width: 65px;
    height: auto;
}
.mysql, .php{
    width: 90px;
}
.csharp, .aspnet, .laravel{
    width: 50px;
}
.mongodb{
    width: 25px;
}
.reactjs{
    width: 55px;
}
.skill-title{
    font-size: 16px;
}
.contact-form{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 20%;
    font-family: 'Wix Madefor Display', sans-serif;
}
.email{
    width: 420px;
    background-color:rgb(190, 236, 212);
}
.submit-btn{
    width: 100px;
    margin-left: 63%;
    font-size: 20px;
    border-radius: 20px;
    background-color:#f3d39e;
}
input{
    font-size: 25px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 4px solid #7c5719;
    background-color:#f3d39e;
}
textarea{
    font-size: 25px;
    width: 580px;
    height: 150px;
    background-color:#f3d39e;
    border: 4px solid #7c5719;
}
/* menu */
#main-menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    line-height: 20px;
    position: fixed;
    z-index:2;
    transform: translate(-70px, -100px);
 }
 #main-menu:hover{
    animation: turn 0.5s forwards;
 }
 #main-menu ul {
    padding: 5px 0 5px 0;
    margin-left: 30px;
}
#main-menu li {
    display: inline-block;
    vertical-align: top;
    padding: 5px 30px 0 30px;
    border-radius: 10px;
}
#main-menu ul ul {
    position: absolute;
    left: -10000px;
    border-style: none;
}
#main-menu li li {
    display: block;
    background-color: rgb(196, 179, 179);
    white-space: nowrap;
    margin-top: 7px;
}
#main-menu li:hover ul {
    left: 0;
    animation: drop 400ms ;
    transform-origin: top center;
}
#main-menu li li:hover {
   background-color: #e1bfc5;
   animation: moveright 0.2s forwards;
}
.fa-paw{
    font-size: 30px;
    color: rgb(108, 30, 108);
}
/* end */

.wrapper .education-card .text-card{
    width: 800px
}
.wrapper .cards .contact-card{
    margin-bottom: 200px;
}
#bigBackground{
    background-color: #f0cf9b;
}
.flip-image img {
    transition: transform 0.5s;
    transform-style: preserve-3d;
}
.flip-image:hover img {
    transform: rotateY(360deg);
}

/* slideshow */
.cards-img{
    width: 400px;
    height: auto;
    animation: updown 2s infinite;
}
.slideshow {
    position: relative;
    overflow: hidden;
    height: 300px;
    transform: translateX(15%);
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}
.subslide{
    display: flex;
}
.slide-title{
    font-size: 25px;
}
.slide.active {
    opacity: 1;
}
.slide.prev {
    transform: translateX(-100%);
    opacity: 0;
}
.slide.next {
    transform: translateX(100%);
    opacity: 0;
}
.button-container {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
}
.prev-btn, .next-btn {
   border:none;
   background-color: rgb(224, 204, 204);
   font-size: 30px;
}
.pagination {
    text-align: center;
}
.pagination button {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border:none;
    background-color:rgb(224, 204, 204);
}
.pagination button.active {
    color: yellow;
}
.slide-title{
    text-align: center;
    position: relative;
    z-index: 4;
    font-size: 23px;
    margin-top: 30px;
    color: black;
}
.slide-description{
    width: 300px;
    position: relative;
    z-index:5;
    font-size: 20px;
    transform: translateX(20px);
    margin: auto;
    line-height: 50px;
}
.fa-right-long{
    animation: arrowloop 1s linear infinite;
}
.slide-title:hover{
    color: rgb(62, 83, 80);
}
/* end */

/* icon effect */
.icon-effect {
    display: inline-block;
  }
  
  .icon-effect i {
    display: inline-block;
    transition: transform 0.3s ease;
  }
  
  .icon-effect:hover i {
    animation: shake 0.5s forwards;
  }
/* end */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-4px) rotate(2deg); }
    50% { transform: translateX(4px) rotate(-2deg); }
    75% { transform: translateX(-4px) rotate(2deg); }
    100% { transform: translateX(0); }
  }
@keyframes updown{
    0%{
        box-shadow: 5px 5px 5px grey;
    }
    50%{
        box-shadow: 10px 10px 10px black;
    }
    100%{
        box-shadow: 5px 5px 5px grey;
    }

}
@keyframes arrowloop{
    0%{
        transform: translateX(10px);
        opacity:0;
    }
    100%{
        transform: translateX(20px);
        opacity:1;
    }
}
@keyframes moveright{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(10px);
    }
}
@keyframes drop {
   0% {
       transform: scaleY(0);
   }
   100%{
       transform: scaleY(1);
   }
}
@keyframes showphoto{
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes moveintro{
    0%{
        transform: translateX(100px);
    }
    100%{
        transform: translateX(0);
    }
}
@media only screen and (max-width: 1400px){
    .projects-wrapper:nth-child(odd) a{
        transform:translateX(-10%);
    }
    .projects-wrapper:nth-child(odd) .cards{
        transform: translateX(10%);
    }
    .projects-wrapper:nth-child(even) a{
        transform:translateX(10%);
    }
    .projects-wrapper:nth-child(even) .cards{
        transform: translateX(-10%);
    }
}
@media only screen and (max-width: 1280px){
    .projects-wrapper:nth-child(odd) a{
        transform:translateX(-5%);
    }
    .projects-wrapper:nth-child(odd) .cards{
        transform: translateX(5%);
    }
    .projects-wrapper:nth-child(even) a{
        transform:translateX(5%);
    }
    .projects-wrapper:nth-child(even) .cards{
        transform: translateX(-5%);
    }
}
@media only screen and (max-width: 1148px){
    .projects-wrapper:nth-child(odd) a{
        transform:translateX(-2%);
    }
    .projects-wrapper:nth-child(odd) .cards{
        transform: translateX(2%);
    }
    .projects-wrapper:nth-child(even) a{
        transform:translateX(2%);
    }
    .projects-wrapper:nth-child(even) .cards{
        transform: translateX(-2%);
    }
}
@media only screen and (max-width: 1108px){
    .projects-wrapper:nth-child(odd) a{
        transform:translateX(0);
    }
    .projects-wrapper:nth-child(odd) .cards{
        transform: translateX(0);
    }
    .projects-wrapper:nth-child(even) a{
        transform:translateX(0);
    }
    .projects-wrapper:nth-child(even) .cards{
        transform: translateX(0);
    }
}
@media only screen and (max-width: 1092px){
    .project-block img{
        width: 520px;
    }
    .wrapper .cards .text-card{
        width: 900px;
    }
    .submit-btn{
        margin-left: 70%;
    }
}
@media only screen and (max-width: 1067px){
    .project-block{
        grid-template-columns: 1fr;
    }
    .project-block img{
        width: 550px;
    }
    .project-block:nth-child(odd) a{
       order:-1 ;
    }
    .project-block:nth-child(odd) cards{
        order:1;
    }
    .projects-wrapper:nth-child(odd){
        background: rgb(252, 225, 208);
    }
    .projects-wrapper:nth-child(even){
        background:rgb(251, 201, 194) ;
    }
}
@media only screen and (max-width: 1046px){
    .wrapper .cards .employment-card{
        width: 800px;
        transform: translateX(100px);
    }
    .slide-description{
        width: 250px;
    }
}
@media only screen and (max-width: 1019px){
    .myphoto{
        width: 380px;
        height: 380px;
    }
    .aff, .asgh, .ep{
        font-size: 20px;
    }
    .self-intro{
    margin-left: 5px;
    margin-top: 30px;
    line-height: 45px;
    width: 400px;
    }
}
@media only screen and (max-width: 914px){
    .skill-card{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (max-width: 884px){
    .skill-card{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .wrapper .education-card .text-card{
        width: 700px;
        font-size: 25px;
    }
}
@media only screen and (max-width: 862px){
    .slide-description{
        display: none;
    }
    .slideshow{
        transform:translateX(25%);
    }
    .slide{
        transform:translateX(-40px);
    }
    .pagination{
        transform: translateX(-15px);
    }
    .button-container{
        left: 50px;
        right: 100px;
    }
}
@media only screen and (max-width: 822px){
    .header-icons{
        display: flex;
        flex-direction: column;
        font-size: 25px;
    }
    .skill-card{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .wrapper .cards .skill-card{
        width: 700px;
    }
}
@media only screen and (max-width: 790px){
    .wrapper .cards .employment-card{
        width: 750px;
    }
    .subslide{
        flex-direction: column;
    }
    .slideshow{
        height: 300px;
    }
}
@media only screen and (max-width: 770px){
    .introduction{
        flex-direction:column;
    }
    .myphoto{
        width: 350px;
        height: 350px;
        margin-left: 25%;
    }
    .aff, .asgh, .ep{
        font-size: 20px;
    }
    .self-intro{
    margin-left: 20px;
    margin-top: 40px;
    font-size: 25px;
    width: 650px;
    }
    .myintro{
        font-size: 20px;
        line-height: 50px;
    }
    .hi{
        margin-bottom:10px;
    }
}
@media only screen and (max-width: 730px){
    .button-container {
    left: 100px;
    right: 150px;
    }
}
@media only screen and (max-width: 705px){
    .contact-wrapper .cards .text-card{
        transform: translateX(-40px);
        width: 850px
    }
    .submit-btn{
        margin-left: 74%
    }
}
@media only screen and (max-width: 680px){
    .wrapper .education-card .text-card{
        width: 650px;
    }
    .self-intro{
        width: 600px;
    }
    .myphoto{
        margin-left: 20%;
    }
}
@media only screen and (max-width: 636px){
    #menu-icon{
        color:rgb(126, 30, 126);
    }
    #small-menu{
        background-color:rgb(225, 210, 210);
    }
    .wrapper .education-card .text-card{
        width: 600px;
        font-size: 23px;
    }
    .wrapper .education-card .text-card h2{
        font-size: 28px;
    }
    .self-intro{
        width: 550px;
    }
}
@media only screen and (max-width: 615px){
    .button-container{
        left:120px;
        right: 185px;
    }
}
@media only screen and (max-width: 609px){
    .wrapper .cards .contact-card{
        width: 450px;
    }
    textarea{
        width: 500px;
    }
    .contact-form{
        margin-left: 0;
    }
    .submit-btn{
        margin-left: 80%;
    }
}
@media only screen and (max-width: 578px){
    .wrapper .education-card .text-card{
        width: 550px;
        font-size: 21px;
    }
    .wrapper .education-card .text-card h2{
        font-size: 26px;
    }
    .self-intro{
        width: 500px;
    }
}
@media only screen and (max-width: 568px){
    .myphoto{
        margin-left: 16%;
    }
    .self-intro{
        line-height: 22px;
        margin-top: 20px;
    }
    .wrapper{
        width: 550px;
    }
    .project-block img{
        width: 480px;
    }
    .project-block .text-card{
        transform: translateX(-40px);
    }
    .myworks{
        transform: translateX(-40px);
        margin-bottom: 5px;
    }
    .wrapper .cards .skill-card{
        width: 500px;
    }
}
@media only screen and (max-width: 550px){
    .wrapper .education-card .text-card{
        width: 500px;
        font-size: 18px;
    }
    .wrapper .education-card .text-card h2{
        font-size: 22px;
    }
    .wrapper .cards .contact-card{
        transform:translateX(-60px);
    }
    textarea{
        width: 480px;
    }
    .submit-btn{
        margin-left: 79%;
    }
    .wrapper .cards .employment-card p, .wrapper .cards .employment-card h2{
        transform: translateX(-20px);
    }

    .wrapper h1{
        transform: translateX(-20px);
    }
    .skills-wrapper{
        transform: translateX(-20px);
    }
}
@media only screen and (max-width: 536px){
    .self-intro{
        width: 480px;
    }
    .introduction{
        transform: translateX(-15px);
    }
    .myphoto{
        transform: translateX(20px);
    }
}
@media only screen and (max-width: 523px){
    .slideshow{
        margin-right: 20px;
    }
}
@media only screen and (max-width: 515px){
    .wrapper .cards .contact-card{
        transform:translateX(-70px);
        margin-bottom: 100px;
    }
}